.billboard {
	position: fixed;
	top: 2%;
	right: 2%;
}
.billboard .region-choice,
.billboard .date-type-choice,
.billboard .time-interval-choice {
	position: absolute;
	top: 0rem;
}
.billboard .region-choice input,
.billboard .date-type-choice input,
.billboard .time-interval-choice input  {
	padding: 0.5rem;
	width: 4rem;
	outline: none;
	border: 0.1rem solid #4c93fd;
	border-radius: 0.5rem;
	background-color: #fff;
}
.billboard .region-choice img,
.billboard .date-type-choice img,
.billboard .time-interval-choice img {
	position: absolute;
	top: 0.9rem;
	right: 0.6rem;
	height: 0.5rem;
	cursor: pointer;
}
.billboard .region-choice ul,
.billboard .date-type-choice ul,
.billboard .time-interval-choice ul {
	position: absolute;
	z-index: -1;
	top: 1rem;
	border: 0.1rem solid #d4d4d4;
	border-radius: 0.5rem;
	background-color: #fff;
	transition: all 0.8s;
	overflow: hidden;
}
.billboard .region-choice li,
.billboard .date-type-choice li,
.billboard .time-interval-choice li  {
	padding: 0.4rem; 
	font-size: 0.8rem;
	cursor: pointer;
	border-radius: 0.5rem;
}
.billboard .region-choice li:hover,
.billboard .date-type-choice li:hover,
.billboard .time-interval-choice li:hover{
	color: #4c93fd;
}
.billboard .region-choice input {
	width: 6rem;
}
.billboard .date-type-choice input {
	width: 8rem;
}
.billboard .time-interval-choice input {
	width: 8rem;
}
.billboard .region-choice ul {
	width: 7rem;
}
.billboard .date-type-choice ul {
	width: 9rem;
}
.billboard .time-interval-choice ul {
	width: 9rem;
}
.billboard .region-choice li {
	width: 7rem;	
}
.billboard .date-type-choice li {
	width: 8rem;
}
.billboard .time-interval-choice li {
	width: 9rem;
}
.billboard .refresh {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1rem;
	width: 2rem;
	color: #fff;
	font-size: 0.9rem;
	cursor: pointer;
	background-color: #4c93fd;
	border-radius: 0.5rem;
}
/*广告牌推荐点数据 容器*/
.billboard .data-container {
	position: absolute;
	z-index: -2;
	top: 5rem;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	width: 16rem;
	max-height: 28rem;
	padding: 0.5rem;
	border-radius: 0.4rem;
	text-align: center;
	/* box-shadow: 0 0rem 0.5rem #d4d4d4; */
}
.billboard .data-container p {
	margin: 2.2rem 0;
	margin-bottom: 1.2rem;
	text-align: center;
	font-size: 1.2rem;
}
.billboard .data-container ul li {
	font-size: 0.92rem;
	cursor: pointer;
}  
.billboard .data-container img {
	display: inline-block;
	margin-bottom: -0.4rem;
	margin-right: 1.5rem;
	width: 9%;
	cursor: auto;
} 
.billboard .data-container span {
	display: inline-block;
	padding: 0.8rem 0;
}
.billboard .data-container button {
	border: none;
	border-radius: 0.4rem;
	margin-top: 1.2rem;
	margin-bottom: 2.2rem;
	padding: 0.4rem 1rem;
	outline: none;
	color: white;
	font-size: 1.1rem;
	background-color: #4c93fd;
	cursor: pointer;
}




