* {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
html {
	font-size: 16px;
}
#map-container {
	position: absolute;
	width: 100%; 
	height: 100%; 
}
.sidebar-click {
	display: block;
	position: fixed;
	top: 5%;
	left: 2%;
	height: 4rem;
	cursor: pointer;
}
.sidebar {
	position: fixed;
	top: 20%;
	left: 2rem;
	/*left: -10rem;*/
	width: 7rem;
	color: #4c93fd;
	border-radius: 0.5rem;
	background-color: #fff;
	box-shadow: 0 0.5rem 1rem #d4d4d4;
	transition: all 1s;
}
.sidebar div {
	position: relative;
	padding: 1rem;
	width: 5rem;
	cursor: pointer;
	text-align: center;
	border-radius: 0.5rem;
	transition: all 0.5s;
}
.sidebar div ul {
	/*display: none;*/
	position: absolute;
	left: 7rem;
	top: -8rem;
/*	height: 0;*/
	background-color: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 0.3rem 0.5rem #d0d0d0;
	transition: all 1s;
}
.sidebar div ul li {
	padding: 1rem;
	width: 5rem;
	color: #4c93fd;
	font-size: 0.85rem;
	cursor: pointer;
	text-align: center;
	border-radius: 0.5rem;
	transition: all 0.5s;
}
.on-sidebar,
.sidebar div:hover,
.sidebar ul .on-region,
.sidebar div ul li:hover {
	color: #fff;
	background-color: #4c93fd;
}
/*.sidebar div:hover ul{
	display: block;
	height: 20rem;
}
*/
.form-container {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -15rem;
	margin-left:  -20rem;
	width: 40rem;
	height: 30rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.3rem;
	box-shadow: 0 0 0.3rem #9d9d9d;
}
.form-container .form-close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	width: 1rem;
	cursor: pointer;
}
.form-container .form-pre{
	position: absolute;
	top: 12rem;
	left: 0;
	padding: 2rem 0.5rem;
	width: 2rem;
	cursor: pointer;
	transition: all 0.3s;
}
.form-container .form-next{
	position: absolute;
	top: 12rem;
	right: 0;
	padding: 2rem 0.5rem;
	width: 2rem;
	cursor: pointer;
	transition: all 0.3s;
}
.form-container .form-pre:hover,
.form-container .form-next:hover {
	padding: 1.5rem 0rem;
	width: 3rem;
}
.form-container .echartsCon {
	position: absolute;
	top: 3rem;
	left: 3rem;
	width: 34rem;
	height: 24rem;
	transition: all 2s;
	
	perspective: 1000px;
	
	/*backface-visibility: hidden;*/
}
.form-container .pre {
	opacity: 0;
	transform: translateZ(0rem) rotateX(180deg)  rotateY(90deg);
}
.form-container .next {
	opacity: 0;
	transform: translateZ(0rem) rotateX(180deg)  rotateY(-90deg);
}
.form-container .onShow {
	opacity: 1;
	transform: translateZ(0rem) rotateX(0deg) rotateY(9deg);
}
.form-container .onShow img {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 6rem;
}
.form-container .onShow div {
	width: 20rem;
	margin-left: 12rem;
	padding: 0.6rem;
}
.form-container .onShow .driverID {
	position: absolute;
	top: 8rem;
	left: 1rem;
	margin-left: 0;
	padding: 0.3rem;
	width: 6rem;
	text-align: center;
}
.form-container .onShow div span {
	display: inline-block;
	padding: 0.3rem;
	margin: 0 0.8rem;
}
.form-container .onShow div .value {
	width: 8rem;
	text-align: center;
	border-bottom: 0.5px solid #fff;
}
.form-container .page {
	position: absolute;
	bottom: 0.3rem;
	z-index: 100;
	width: 100%;
	text-align: center;
}
.form-container .page li {
	display: inline-block;
	margin: 0 0;
	padding: 0.2rem 1rem;
	cursor: pointer;
	transition: all 0.5s;
}
.form-container .page .onPage,
.form-container .page li:hover {
	color: #fff;
	background-color: rgba(76, 147, 253, 1);
}