.region {
	position: fixed;
	top: 2%;
	right: 2%;
}
.region .region-choice {
	position: absolute;
	top: 0rem;
	right: 13rem;
}
.region .date-choice {
	position: absolute;
	top: 0rem;
	right: 5rem;
}
.region .region-choice input,
.region .date-choice input {
	padding: 0.5rem;
	width: 4rem;
	outline: none;
	border: 0.1rem solid #4c93fd;
	border-radius: 0.5rem;
	background-color: #fff;
}
.region .region-choice input {
	width: 4rem;
}
.region .date-choice input {
	width: 6rem;
}
.region .region-choice img,
.region .date-choice img {
	position: absolute;
	top: 0.9rem;
	right: 0.6rem;
	height: 0.5rem;
	cursor: pointer;
}
.region .region-choice ul,
.region .date-choice ul {
	position: absolute;
	z-index: -1;
	top: 1rem;
	border: 0.1rem solid #d4d4d4;
	border-radius: 0.5rem;
	background-color: #fff;
	transition: all 0.8s;
	overflow-x: hidden;
}
.region .region-choice ul {
	width: 5rem;
}
.region .date-choice ul {
	width: 7rem;
}
.region .region-choice li,
.region .date-choice li  {
	padding: 0.4rem; 
	font-size: 0.8rem;
	cursor: pointer;
	border-radius: 0.5rem;
}
.region .region-choice li {
	width: 4rem;	
}
.region .date-choice li {
	width: 6rem;
}
.region .region-choice li:hover,
.region .date-choice li:hover{
	color: #4c93fd;
}
.region .refresh {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1rem;
	width: 2rem;
	color: #fff;
	font-size: 0.9rem;
	cursor: pointer;
	background-color: #4c93fd;
	border-radius: 0.5rem;
}
.data-container {
	position: absolute;
	z-index: -2;
	top: 5rem;
	right: 0;
	padding: 0.5rem;
	width: 16rem;
	max-height: 22rem;
	background-color: #fff;
	border-radius: 0.4rem;
	box-shadow: 0 0rem 0.5rem #d4d4d4;
}
.data-container .item-name span{
	display: inline-block;
	color: #4c93fd;
	font-size: 0.9rem;
	text-align: center;
	padding: 0.5rem 0;
}
.data-container .data li span{
	display: inline-block;
	font-size: 0.8rem;
	text-align: center;
	padding: 0.3rem 0;
}
.data-container ul::-webkit-scrollbar,
.region .date-choice ul::-webkit-scrollbar,
.region .region-choice ul::-webkit-scrollbar{
    width: 0.5rem;    
}

.data-container ul::-webkit-scrollbar-thumb,
.region .date-choice ul::-webkit-scrollbar-thumb,
.region .region-choice ul::-webkit-scrollbar-thumb  {
    border-radius: 0.5rem;
    background: rgba(184,184,184);
}

.data-container ul::-webkit-scrollbar-track,
.region .date-choice ul::-webkit-scrollbar-track,
.region .region-choice ul::-webkit-scrollbar-track {
    border-bottom-right-radius: 0.5rem;  
    background: rgba(235,235,235);
}




