.set .time-container {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -10rem;
	margin-right: -12rem;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.1rem #999;
}
.set .time-value,
.set .time-now {
	display: block;
	margin: 1rem auto;
	padding: 0.4rem;
	width: 21.2rem;
	text-align: center;
	font-size: 1rem;
	outline: none;
	border-radius: 0.5rem;
	background-size: 0.9rem 0.9rem;
	background-position: 16rem;
	background-color: #fff;
	background-repeat: no-repeat;
}
.set .time-container button {
	margin: 0 0 1rem 12rem;
	padding: 0.5rem 1.5rem;
	border: none;
	outline: none;
	color: #fff;
	background-color: #4c93fd;
	cursor: pointer;
}